@import url(styles.css);

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  margin: 0 20px 0 20px;
}

.content {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: clamp(200px, 50vw, 300px);
  height: clamp(200px, 50vw, 300px);
  background-color: var(--accent-color-1);
  border-radius: 10px;
  margin: 40px;
}

main h2 {
  margin: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: clamp(100px, 100%, 400px);
}

a.btn-link {
  min-height: 4rem;
  background-color: white;
  border-top: 2px solid var(--accent-color-1-fade);
  border-left: 2px solid var(--accent-color-1-fade);
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  line-height: 4rem;
  box-shadow: 5px 5px 5px var(--accent-color-1-fade);
}

a.btn-link:hover {
  background-color: var(--accent-color-1);
  color: white;
}

a.btn-link:active {
  background-color: var(--accent-color-1-fade);
  color: white;
}

.or {
  display: flex;
  align-items: center;
}

.horizontal-rule {
  border: 1px solid var(--accent-color-1);
  flex: 1 1 auto;
  height: 0;
  margin: 20px 0 20px 0;
}

@media (min-width: 1000px) {
  main {
    flex-direction: row;
    height: calc(100vh - var(--header-height));
    margin-left: 0;
  }

  .image {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0 10px 10px 0;
    height: 100%;
    width: 50vw;
  }
}

main {
  /* border: 1px solid red; */
}
