:root {
  --accent-color-1: rgb(136, 72, 253);
  --accent-color-1-fade: rgba(136, 72, 253, 25%);
  --accent-color-2: rgb(255, 94, 0);
  --invalid-bg-color: rgba(255, 116, 116, 18%);
  --invalid-text-color: rgb(255, 116, 116);
  --header-height: 70px;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  /* touch-action: manipulation; */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 {
  color: var(--accent-color-1);
  /* margin: 20px; */
  font-size: 20px;
}

header {
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  padding: 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  height: var(--header-height);
}

.menu-icon {
  width: 18px;
  min-width: 18px;
  height: 12px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-line {
  background-color: black;
  height: 2px;
}

.logo {
  margin: 0px auto 0px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.profile-icon {
  width: 25px;
  min-width: 25px;
  height: 25px;
  border: 3px solid black;
  border-radius: 12.5px;
}

a {
  color: var(--accent-color-1);
  text-decoration: none;
  margin: 10px;
}

a.logo {
  color: black;
}

.fa-solid {
  color: var(--accent-color-1-fade);
  position: absolute;
  right: 10px;
  top: 7px;
}

.fa-solid:hover {
  cursor: pointer;
}

.password-container {
  position: relative;
}

hr {
  border: 1px solid var(--accent-color-1-fade);
}

button {
  color: var(--accent-color-1);
  background: none;
  border: none;
  font: inherit;
}

button:hover {
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
}

/* Overriding class styling*/
.accent-1 {
  /* color: red; */
  color: var(--accent-color-1);
}

.accent-1-fade {
  color: var(--accent-color-1-fade);
}

.accent-2 {
  color: var(--accent-color-2);
}

.invalid,
.invalid::placeholder {
  color: var(--invalid-text-color);
}

.invalid,
.invalid:focus {
  background-color: var(--invalid-bg-color);
  outline: none;
}
